# Ignore kdeplasma user as its my backup, not related to Hyprland
Code/
go/
Trolltech.conf
baloofilerc
bluedevilglobalrc
dolphinrc
kded5rc
kded6rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
konsolerc
konsolesshconfig
ksmserverrc
ktimezonedrc
kwalletrc
libaccounts-glib/
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
xsettingsd/
KDE/
dconf/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kconf_updaterc
kde.org/
kwinoutputconfig.json
kwinrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
pulse/
session/
user-dirs.dirs
user-dirs.locale
