* {
    border: none;
    border-radius: 2;
    font-family: "JetBrains Nerd Font";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(8, 8, 8, 1);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);    
    color: white; /* this is text colour? */
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: rgba(43, 48, 59, 0.5);
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode, #clock, #custom-battery{
    padding: 0 20px;
}

#mode {
    background: #ffffff;
    border-bottom: 3px solid white;
}

#clock {
    background-color:  #000000;
    border: 2px solid rgba(245, 245, 245, 1);
    border-radius: 6px;
}

#custom-battery {
  color: #ffffff;
  background: #000000;
  /* border-radius: 6px; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

